@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 10pxpx;
    padding: 10pxpx;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 400px;
    width: 900px;
    margin-left: 60px;
    padding-left: 50px;
    left: 140px;
    top: 50px;
    border-radius: 15px;
    background-color: black;
    
    
}
.containers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    color: white;
    
}
.containers h1{
    font-size: 40px;
    margin: 0;

}
.containers p{
    font-size: 10px;
    padding: 0px;

}
.containers img{
    width: 390px;
    padding-right: 20px;
}
button{
    width: 90px;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
/* -------------------
        upcoming-match-container 
    ----------------------------------*/
.upcoming-match{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    
    
}
.match-button{
    width: 200px;
    height: 180px;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    display: grid;
    grid-template-rows:repeat(3,1fr) ;
   
}
.match-button a{
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    background-color: white;

}
#match-blog{
    background-color: red;
}
.transfer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
}
.thumbnail img{
    width: 250px;
}






