@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Amimaqtion  start*/
@keyframes slidin{
    from{
        background-color: black;
    }
    to{
        background-color: gray;
    }
}
.container{
    height: 420px;
    width: 76%;
    padding-left: 50px;
    border-radius: 15px;
    background-color: black;
    margin: 0 auto;
    animation: slidin 3s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
    
}
.containers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    color: white;
    
}
.containers h1{
    font-size: 40px;
    margin: 0;
}
.containers p{
    font-size: 10px;
    padding: 0px;

}
.containers img{
    width: 78%;
    padding-right: 20px;
    padding-bottom: 0;
}

.watch-live:hover{
    background-color: brown;
}
.watch-live{
    background-color: red;
     width: 100px; 
    margin-top: 5px;
    padding: 10px 12px ;
    border-radius: 3px;
}
.watch-live a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
/* -------------------
        upcoming-match-container CSS start
    ----------------------------------*/
.second{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.second-container{
    display: grid;
    width: 80%;
    margin-top: 30px;
    margin: 0 auto;

}
.blogs{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 50px;
    
}
.match-buttons{
    height: 200px;
    align-items: center;
    padding: 0px 30px 0px 30px;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 20px;
    background-color: black;
    display: grid;
   
}
.match-buttons a{
    width: 120px;
    height: 30px;
    color: black;
    margin-top: 10px;
    padding-top: 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    background-color: white;

}
#match-blog{
    background-color: red;
    color: white;
}

.blog{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0px 0px ;
}
.thumbnail img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}

.blog-info{
    font-size: 12px;
    padding-left: 10px;
    
}

.blog-info h2 {
    padding-top: 5px;
    padding-bottom: 5px;
}
button{
    width: 60px;
    height: 13;
    border-radius: 5px;
    font-size: x-small;
    border: 1px solid black;
}
.blog-info h4{
    padding-top:4px;
    padding-bottom: 4px;
}
.fa-message{
    padding-left: 20px;
}
/* ------------------------------------
        upcoming-match-container CSS end 
------------------------------------------------*/





/*-----------------------
         footer section strat
-------------------------------------- */
footer{
    height: 200px;
    margin-top: 50px;
    background-color: #1E1E1E;
}



.footboll h2{
    padding-top: 30px;
    color: crimson;
    font-size: 40px;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.fa-futbol{
    color: aliceblue;
    padding-right: 20px;
}

hr {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

.contact {
    text-align: center;
    color: gray;
    
}
span{
    margin-left: 20px;
}
.link-add a{
    margin-left: 15px;
    color: crimson;
}
#icon{
    text-align: center;
    padding-top: 10px;
}
/*--------------------End websit 1 ------------------*/

/*----------------- Webait 2 Start --------------- */



/*------------------schedule first-container --------------*/
.first-container{
    height: 420px;
    width: 80%;
    padding-left: 50px;
    border-radius: 15px;
    background-color: black;
    margin: 0 auto;
    
}
.containers-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    color: white;
    
}
.containers-2 h1{
    font-size: 40px;
    margin: 0;
}
.containers-2 p{
    font-size: 10px;
    padding: 0px;

}
.containers-2 img{
    width: 70.3%;
    padding-right: 20px;
    padding-bottom: 0;
}

.watch-live-2{
    background-color: red;
    width: 100px; 
    margin-top: 5px;
    padding: 10px 12px ;
    border-radius: 3px;
}
.watch-live-2 a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------- Section First blog ----------------------*/
.first-blog{
    display: grid;
    grid-template-columns: 170px 1fr;
    width: 80%;
    padding-left: 20px;


}
.schedules{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
}
.match{
    height: 210px;
    align-items: center;
    padding: 0px 30px 0px 30px;
    border-radius: 5px;
    margin-left: 7px;
    margin-top: 50px;
    background-color: black;
    display: grid; 
}
.match a{
    width: 120px;
    height: 30px;
    color: black;
    margin-top: 10px;
    padding-top: 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    background-color: white;

} 

#blank:hover{
    background-color: palevioletred;
    color: white;
}
#blank{
    background-color: crimson;
}

.container-section{
    width: 78%;
    margin-left: 50px;
}
.country-vs{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 280px;

    height: 200px;
    border-radius: 5px;

    
}
.country{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 20px;
}
.country-name{
    text-align: center;
    color: black;
}



